<footer>
    <div class=" lead f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100011433522248" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/gouravv.c/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/gouravsittam/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://twitter.com/Gouravv_c" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        
        <div class="f-info-brand">&copy; Incredible India private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>