<nav class="lead navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><i class="fa-brands fa-centos"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/home">Home</a>
          <a class="nav-link" href="/listings">Bookings</a>
          <a class="nav-link" href="/listings/new">Add new Bookings</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link btn btn-primary text-black" href="/">Sign Up</a>
          <a class="nav-link btn btn-light" href="/">Login</a>
        </div>
      </div>
    </div>
  </nav>