<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IncredibleIndia</title>
  </head>
  <body> -->
    <% layout("/layouts/boilerplate") %> 
  <div class="lead row">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings">

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Add a catchy title"
          type="text"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Scenic Himalayan district with rich heritage."
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/Link"
          type="text"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4 "> 
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1500"
              text="number"
              class="form-control"
              required
            />
            
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input
              name="listing[country]"
              placeholder="India"
              type="text"
              class="form-control"
              required
            />
          </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Chamba,Himachal Pradesh"
          type="text"
          class="form-control"
          required
        />
      </div>
      <br />
      <button class="btn btn-dark mb-3 px-4 text-center add-btn">Add</button>
      <br />
    </form>
  </div>
</div>
  <!-- </body>
</html> -->
    